body {
  margin: 20px 40px;
}

p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 16px;
}

/*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
.wrapper {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
}

.first {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  justify-content: space-between;
}
/*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
.redExample {
  flex: 1;
  background-color: red;
  width: 80px;
}

/*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
.blueExample {
  flex: 1;
  background-color: blue;
}

/*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
.emptyExample2 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.blueExample2 {
  width: 80px;
  background-color: blue;
}

/* TODO: Add CSS for the rest of your solution below */
.row3 {
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: green;
}

.red3 {
  width: 80px;
  background-color: red;
}

.blue3 {
  width: 80px;
  background-color: blue;
}

.row4 {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  background-color: red;
}

.blue4 {
  width: 80px;
  background-color: blue;
}

.row5 {
  display: flex;
  flex: 1;
  background-color: green;
  justify-content: center;
  align-items: center;
}

.red5 {
  width: 40px;
  background-color: red;
  height: 40px;
}

.row6 {
  display: flex;
  flex: 1;
  background-color: red;
  justify-content: center;
}

.blue6 {
  width: 80px;
  background-color: blue;
}

.row7 {
  display: flex;
  flex: 1;
}

.red7 {
  background-color: red;
  width: 80px;
}

.blue7 {
  background-color: blue;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.green7 {
  height: 20px;
  background-color: green;
}

.row8 {
  display: flex;
  flex: 1;
  background-color: green;
  justify-content: space-between;
}

.yellow8 {
  background-color: yellow;
  width: 80px;
}

.row9 {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.yellow9 {
  background-color: yellow;
  width: 18%;
}

@media screen and (max-width: 768px) {
  .yellow8 {
    background-color: yellow;
    width: 90px;
  }

  .yellow9 {
    background-color: yellow;
    width: 15%;
  }
}
